name: Create Releases

on:
  push:
    tags:
      - "*"
  workflow_dispatch:
    inputs:
      version:
        description: 'Release version (e.g., v1.0.0)'
        required: true
        type: string

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repositoryI
      uses: actions/checkout@v4

    - name: Determine version
      id: get_version
      run: |
        if [[ "${{ github.event_name }}" == "push" ]]; then
          echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT
        elif [[ "${{ github.event_name }}" == "workflow_dispatch" ]]; then
          echo "version=${{ github.event.inputs.version }}" >> $GITHUB_OUTPUT
        fi
        echo "version: ${{ steps.get_version.outputs.version }}"

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y zip

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install pyglossary and dependencies
      run: pip install pyglossary lxml beautifulsoup4 python-idzip tqdm pyicu

    - name: (etymonline) Download etymonline.zip from FireDict
      run:  curl -LO "http://tovotu.de/data/stardict/etymonline.zip"

    - name: (etymonline) Decompress archive
      run: |
        unzip etymonline.zip
        rm etymonline.zip

    - name: Convert with pyglossary and python scripts
      run: |
        version="${{ steps.get_version.outputs.version }}"
        # tabfile
        pyglossary ./etymonline/stardict.ifo ./_etymonline-${version}.txt --read-format=Stardict --write-format=Tabfile

        # tabfile-formatted
        python text_format.py _etymonline-${version}.txt _etymonline-${version}-formatted.txt

        # stardict-mergesync
        pyglossary ./_etymonline-${version}-formatted.txt ./etymonline-${version}-stardict-mergesyns --read-format=Tabfile --write-format=StardictMergeSyns --name=etymonline

        # tabfile-formatted-html2ansi
        python html2ansi.py _etymonline-${version}-formatted.txt _etymonline-${version}-formatted-html2ansi.txt

        # sdcv
        pyglossary ./_etymonline-${version}-formatted-html2ansi.txt ./etymonline-sdcv --read-format=Tabfile --write-format=StardictMergeSyns --name=etymonline

        # dictd
        pyglossary ./_etymonline-${version}-formatted-html2ansi.txt ./etymonline-${version}-dictd --read-format=Tabfile --write-format=DictOrg --write-options="dictzip=true" --name=etymonline

        # yomichan
        pyglossary ./_etymonline-${version}-formatted.txt ./etymonline-${version}-yomichan.zip --read-format=Tabfile --write-format=Yomichan --name=etymonline

        # aard2
        pyglossary ./_etymonline-${version}-formatted.txt ./etymonline-${version}-aard2.slob --read-format=Tabfile --write-format=Aard2Slob --name=etymonline

    - name: ZIP stardict
      run: |
        for base in *.ifo; do
          prefix="${base%.ifo}"
          zip -j "${prefix}.zip" "$prefix".{ifo,dict,idx,syn} 2>/dev/null
        done

    - name: ZIP dictd
      run: |
        for base in *.index; do
          prefix="${base%.index}"
          zip -j "${prefix}.zip" "$prefix".{dict.dz,index} 2>/dev/null
        done

    - name: Generate SHA256 checksums
      run: |
        for file in *.{txt,zip,slob}; do
          sha256sum "$file" > "$file.sha256";
        done

    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        tag_name: ${{ steps.get_version.outputs.version }}
        name: ${{ steps.get_version.outputs.version }}
        files: |
          *.{txt,zip,slob}
