name: Create Releases

on:
  push:
    tags:
      - "*"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repositoryI
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y zip

    - name: Set up Python 3.11
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install pyglossary and dependencies
      run: pip install pyglossary lxml beautifulsoup4 python-idzip tqdm pyicu 

    - name: (etymonline) Download etymonline.zip from FireDict
      run:  curl -LO "http://tovotu.de/data/stardict/etymonline.zip"

    - name: (etymonline) Decompress archive
      run: |
        unzip etymonline.zip
        rm etymonline.zip

    - name: Convert with pyglossary and python scripts
      run: |
        # tabfile
        pyglossary ./etymonline/stardict.ifo ./_etymonline.txt --read-format=Stardict --write-format=Tabfile

        # tabfile-formatted
        python text_format.py _etymonline.txt _etymonline-formatted.txt

        # stardict-mergesync
        pyglossary ./_etymonline-formatted.txt ./etymonline-stardict-mergesyns --read-format=Tabfile --write-format=StardictMergeSyns --name=etymonline

        # tabfile-formatted-html2ansi
        python html2ansi.py _etymonline-formatted.txt _etymonline-formatted-html2ansi.txt

        # sdcv
        pyglossary ./_etymonline-formatted-html2ansi.txt ./etymonline-sdcv --read-format=Tabfile --write-format=StardictMergeSyns --name=etymonline

        # dictd
        pyglossary ./_etymonline-formatted-html2ansi.txt ./etymonline-dictd --read-format=Tabfile --write-format=DictOrg --write-options="dictzip=true" --name=etymonline

        # yomichan
        pyglossary ./_etymonline-formatted.txt ./etymonline-yomichan.zip --read-format=Tabfile --write-format=Yomichan --name=etymonline

        # aard2
        pyglossary ./_etymonline-formatted.txt ./etymonline-aard2.slob --read-format=Tabfile --write-format=Aard2Slob --name=etymonline

    - name: Create ZIP files of Stardict
      run: |
        for base in *.ifo; do
          prefix="${base%.ifo}"
          if [[ ! -f "$prefix.ifo" ]]; then
            echo "Skipping $prefix, missing $prefix.ifo"
            continue
          fi
          if [[ ! -f "$prefix.idx" ]]; then
            echo "Skipping $prefix, missing $prefix.idx"
            continue
          fi
          dict_file=""
          if [[ -f "$prefix.dict.dz" ]]; then
            dict_file="$prefix.dict.dz"
          elif [[ -f "$prefix.dict" ]]; then
            dict_file="$prefix.dict"
          else
            echo "Skipping $prefix, missing $prefix.dict.dz or $prefix.dict"
            continue
          fi
          echo "Creating ${prefix}.zip from $prefix.ifo, $dict_file, $prefix.idx"
          zip -j "${prefix}.zip" "$prefix.ifo" "$dict_file" "$prefix.idx"
        done

    - name: Create ZIP files of dictd
      run: |
        zip -j "etymonline-dictd.zip" \
          "etymonline-dictd.dict.dz" \
          "etymonline-dictd.index"

    - name: Generate SHA256 checksums
      run: |
        for file in _*.txt *.zip *.slob;
        do
          if [ -f "$file" ]; then
            sha256sum "$file" > "$file.sha256";
            echo "Generated checksum for $file";
          fi
        done

    - name: Release
      uses: softprops/action-gh-release@v2
      if: github.ref_type == 'tag'
      with:
        tag_name: ${{ env.VERSION }}
        name: ${{ env.VERSION }}
        files: |
          _*.txt
          *.zip
          *.slob
